body {
    background-color: rgba(203,176,181,255);
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'GFS Didot', serif;
    margin: 0px;
}

.topnav {
    position: relative;
    overflow: hidden;
    padding: 90px 0px;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
}

.topnav a:hover {
    color: grey;
}

.topnav a.active {
    text-decoration: underline;
}

.topnav-left {
    float: left;
    padding: 0px 0px 0px 90px;
}

.topnav-left a {
    padding-right: 35px;
}

.topnav-right {
    float:right;
    padding: 0px 90px 0px 0px;
}

.topnav-right a {
    padding-left: 35px;
}

.topnav hr {
    border: 0.5px solid black;
    z-index: -100;
    width: 200px;
    position: relative;
    left: 16px;
    padding: 0px;
}

.topnav-left hr {
    position: relative;
    left: -20px;
}

.lower {
    position: relative;
    top: 4px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.25fr 1fr 1fr 0.5fr;
    grid-template-rows: 700px 700px;
    padding: 70px 10px;
}

.grid-item {
    text-align: center;
}

.left-images {
    text-align: right;
    padding-right: 20px;
}

.right-images {
    padding-top: 40px;
    text-align: left;
}

.footer {
    text-align: center;
}

.topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

hr {
    border: 0px;
    border-top: 3px double black;
}

h1 {
    font-size: 60px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}

b {
    color: rgb(204, 33, 110);
    font-weight: 100;
}

a {
    color: black;
    text-decoration: none;
    z-index: 7;
}

.button {
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 20px 32px;
    position: relative;
    border-radius: 1px;
}

.second-row {
    background-color: rgba(255, 228, 196, 0.457);
}

.sidebar {
    height: 140px;
    border: 1px solid black;
    position: relative;
    float: right;
    right: -13px;
    width: 40px;
}

.sidebar a {
    padding: 5px 10px;
    font-size: 20px;
    display: block;
}

.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
	
	&:hover &__image {
		filter: grayscale(1);
	}

    &__column {
        display: flex;
        flex-direction: column;
        width: 25px;
    }
}